@{
  ViewData["Title"] = "HOME";
}

<div class="main">
  <ul>
    <li>
      <a href="https://appmedia.jp/fategrandorder/1351236" target="_blank">AppMedia -最強サーヴァントランキングまとめ-</a>
    </li>
  </ul>
  <p class="message">
    から現在の各サーヴァント評価まとめcsvを生成します。
  </p>
  <p class="message">
    数値が高いほど高評価を表します。
  </p>
</div>

<div class="button">
  @using (Html.BeginForm("CsvDownload", "Home", FormMethod.Get))
  {
    <button class="btn btn-primary" value="download" name="download" type="submit">CSVダウンロード</button>
  }
</div>
